parameters:
	ignoreErrors:
		-
			message: '#^Cannot access offset ''articleBody'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Fetcher.php

		-
			message: '#^Cannot cast mixed to float\.$#'
			identifier: cast.double
			count: 1
			path: src/Fetcher.php
