body {
	font-family: sans-serif;
}
a, a:visited {
	color: deeppink;
}

body.show-banner {
	/*--transparency: 0.75;*/
	background: none right top no-repeat;
	background-image: /*linear-gradient(rgba(255, 255, 255, var(--transparency)), rgba(255, 255, 255, var(--transparency))),*/ var(--banner);
	background-size: contain;
	background-attachment: fixed;
}

h1 {
	margin-top: 0;
}

.table-wrapper {
	overflow-x: auto;
}
table {
	background-color: rgba(255, 255, 255, 0.75);
	border-collapse: collapse;
	border: solid 1px #999;
}
th, td {
	border: solid 1px #999;
	border-width: 1px 0;
	padding: 3px 4px;
	text-align: left;
	vertical-align: top;
}
th:first-child:last-child {
	text-align: center;
}
tr.hilited,
legend.hilited {
	background: #c8e5ee;
}
th.sorted {
	color: blue;
}
th.sorted:after {
	content: " \21F3";
}
tr.played td.title:before,
tr.prefix-completed td.title:before,
tr.prefix-onhold td.title:before,
tr.prefix-abandoned td.title:before {
	content: "C";
	float: right;
	color: royalblue;
	font-weight: bold;
	margin-left: .5em;
}
tr.played td.title:before {
	content: "P";
	color: orange;
}
tr.prefix-onhold td.title:before {
	content: "H";
}
tr.prefix-abandoned td.title:before {
	content: "A";
}
body:not(.searching) table.sources:not(.showing-hidden-rows) .finished {
	display: none;
}
td > .cols {
	display: flex;
	justify-content: space-between;
}
td > .cols > :last-child {
	margin-left: .5em;
}
tbody + tbody {
	border-top: solid 3px black;
}
tr.description:not(.show-description) {
	display: none;
}
tr.has-description .title-name {
	color: blue;
}
tr.hidden-rows td {
	text-align: center;
	background-color: #eee;
	cursor: pointer;
}
tr.hidden-rows td:hover {
	background-color: #ddd;
}
body:not(.searching) tr.hidden-rows ~ tr {
	display: none;
}
body.searching tr.hidden-rows {
	display: none;
}
table.release-stats tr > * {
	text-align: right;
	width: 2em;
}
[data-priority] {
	--prio-color: pink;
	--prio-color-txt: black;
}
[data-priority="1"] {
	--prio-color: salmon;
}
[data-priority="2"] {
	--prio-color: red;
}
[data-priority="3"] {
	--prio-color: darkred;
	--prio-color-txt: white;
}
.priority {
	user-select: none;
	cursor: pointer;
	background-color: var(--prio-color);
	color: var(--prio-color-txt);
}
.with-priority {
	border-left: solid 14px var(--prio-color);
}
.recent-1 {
	color: green;
	font-weight: bold;
}
.recent-2 {
	color: green;
}
.recent-3 {
	color: lightgreen;
}
td.title {
	min-width: 8em;
}
.not-release-date {
	color: orange;
}
.old-last-change-1,
.old-last-change-2 {
	color: red;
}
.old-last-change-2 {
	font-weight: bold;
}
.installed-version,
.developer {
	color: #999;
}
.prefixes {
	font-weight: bold;
	color: royalblue
}
.version {
	font-family: monospace;
}
.version:not(:focus) {
	/*display: inline-block;*/
	max-width: 6em;
	overflow: hidden;
	text-overflow: ellipsis;
}
a.goto, a.sync, a.edit-icon, a.search-icon {
	line-height: 1;
	text-decoration: none;
}
@media (max-width: 400px) {
	.hide-on-mobile {
		display: none;
	}
}
